fastapi~=0.115.5
uvicorn
pydantic~=2.10.2
transformers~=4.46.3
torch~=2.5.1+cu121
bitsandbytes
python-dotenv~=1.0.1
huggingface-hub~=0.26.3
httpx~=0.28.0
slowapi~=0.1.9
requests~=2.32.3
locust~=2.32.3